
      .app-container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }

      .loading-spinner {
        margin: -15px;
        height: 40px;

      }